#header {
	background-image: url(../../main/images/cene_D.png);
}

#section {
	background-position: -990px top;
}

#images {
	margin-left: 170px;
	width: 660px; height: 460px;
	background: transparent url(../images/actD2b.gif) no-repeat left top;
}

#toDrop div, #textsDrag div {
	width: 88px; height: 38px;
	white-space: normal;
	text-align: center;
	position: absolute;
}

#textsDrag div {
	width: 150px; height: 60px;
	font: normal normal normal 14pt/20pt sans-serif;
	cursor: pointer;
	}
	
/* iniDrag */
.actD2j-iniDrag {
	color: #044;
}

/* enterDrag */
.actD2j-enterDrag {
	color: #005;
}

/* dragDrag */
.actD2j-dragDrag {
	
}


/* iniDrop */
.actD2j-iniDrop {
	font: normal normal normal 10pt/14pt sans-serif;
}

/* overDrop */
.actD2j-overDrop {
	
}

/* trueDrop */
.actD2j-trueDrop {
	font-weight: bolder;
	color: #0A0;
}