#header {
	background-image: url(../../main/images/cene_L.png);
}

#section {
	background-position: -3630px top;
}

#images div {
	position: absolute;
	width: 120px;
	height: 120px;
	background: transparent url('../images/filmL1a.png') no-repeat left top;
	cursor: move;
}

#sentences {
	z-index: 10;
	position: absolute;
	left: 45px; top: 20px;
	font: normal normal bold 22px/40px Verdana;
}

#sentences div {
	width: 650px; height: 90px;
	text-align: center;
}

#toDrops div {
	z-index: 0;
	width: 120px; height: 120px;
	background: transparent url('../images/filmL1a.png') no-repeat -720px top;
	position: absolute;
}