/* Header */
#header {background-image: url(../../main/images/cene_j.gif);}
#act-caption {background-image: url(../../main/images/cap_j.gif);}

/**********
*  DROPS  *
**********/

#drops div {
	position: absolute;
	left: 200px; top: 375px; 
	width: 140px; height: 150px;
	background: transparent url(../images/film2j.png) no-repeat -1800px top;
	font-size: 15pt;
	line-height: 20pt;
	white-space: normal;
	padding-left: 10px; 
	text-align: center;
	
}

/**********
*  DRAGS  *
***********/
#desk {
	position: absolute;
	left: 196px; top: 0px; 
	width: 608px; height: 370px;
	background: transparent url(../images/act2j.png) no-repeat left top;
}

#drags div {
	position: absolute;
	width: 150px; height: 150px;
	cursor: pointer;
	background: transparent url(../images/film2j.png) no-repeat left top;
}
