/* Header */
#header {background-image: url(../../main/images/cene_h.gif);}
#act-caption {background-image: url(../../main/images/cap_h.gif);}

/***********
*   DESK   *
***********/

#desk {
	position: absolute;
	left: 125px; top: 20px;
	background: transparent url(../images/act2h.gif) no-repeat center;
	width: 750px;
	height: 400px;
}

/***************
*     DROPS    *
****************/

#drops div {
	position: absolute;
	background-position: 0px -40px;
}

/***************
*     DRAGS    *
****************/

#dragsFijos div {
	z-index: 0;
	background-position: -40px 0;
	position: absolute;
}

#drags div {
	cursor: pointer;
	background-position: -40px 0;
	z-index: 150;
}
