#header {
	background-image: url(../../main/images/cene_J.png);
}

#section {
	background-position: -2970px top;
}

#numbers div, #numbersDrops div {
	width: 500px; height: 60px;
	text-align: center;
	font: normal normal bold 40px/60px sans-serif;
	border: 1px solid #AAA;
	cursor: move;
	position: absolute;
}

#numbersDrops div {
	cursor: default;
}
