/* Header */
#header {background-image: url(../../main/images/cene_h.gif);}
#act-caption {background-image: url(../../main/images/cap_h.gif);}

/**********
*  DROPS  *
**********/
#drops {
	position: absolute;
	left:600px; top: 200px;
	width: 300px; height:300px;
}

#drops div {
	position: absolute;
	width: 150px; height: 150px;
	background: transparent url(../images/act4h.gif) no-repeat -750px top;
}

/**********
*  DRAGS  *
***********/
#drags {
	position: absolute;
	top: 10px; 	left: 10px;
}

#drags div {
	width: 150px; 	height: 150px;
	cursor: pointer;
	background: transparent url(../images/act4h.gif) no-repeat left top ;
}
/***********
 * START AGAIN *
  ******/
#start {
	position: absolute;
	left: 800px; top: 30px;
 }

#start  div{
	position: relative;
	background-position: -180px -40px;
	font-size: 15pt;
	cursor: pointer;
}
  
/********
* GATE  *
********/
#gate {
	position: absolute;
	left: 130px; top: 200px;
	width: 300px; height: 180px;
	background-color: #afb;
	border: 1px groove #264;
	z-index: 50;
	padding: 120px 0px 0px 20px;
	font: normal normal normal 18pt/20pt sans-serif;
	cursor: pointer;
}
