#section {
	background-position: -2000px top;
}

#karaoke {
	position: absolute;
	left:0; bottom: 0;
	width: 100%;
	font: normal normal bolder 30px/35px sans-serif;
	text-align: center;
}

#karaoke span {
	padding: 0 5px;
}

#karaoke p {
	width: 100%;
	height: 35px;
}


#movie {
	width: 990px; height: 350px;
	position: absolute;
	top: 30px;
	background: transparent url(../images/filmF1c.png) no-repeat left top;
	}
