#section {
	background-position: -1200px top;
}

div#desk {
	width: 100%; height: 410px;
	padding-top: 40px;
}

#desk > div {
	width: 100%;
	height: 50%;
}

div#flagSuperior {
	width: 223px; height: 205px;
	float: left;
	background: transparent url(../images/actD6b.gif) no-repeat -446px center;
	margin: 0 38px 0 39px;
}

div#desk h3 {
	width: 700px; height: 50px;
	float: left;
	margin: 0;
	line-height: 50px; font-size: 25pt; 
}

.answers {
	width: 700px; height: 155px;
	float: left
}

.answers p {
	width: 700px; height: 73px;
	float: left;
	font: normal normal bold 35pt/50px sans-serif;
}

div#flagInferior {
	width: 223px; height: 205px;
	float: left;
	background: transparent url(../images/actD6b.gif) no-repeat -669px center;
	margin: 0 38px 0 39px;	
}

/* #drags div - Cajas de 150x30  */
#drags div {

	width: 150px; height: 30px;
	font: normal normal bold 13pt/30px sans-serif;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	cursor: move;
}

/* iniDrag */
.actD6b-iniDrag {
 	background: transparent url(../../main/images/cajas/150x30.gif) no-repeat left top;	
}

/* enterDrag */

.actD6a-enterDrag {
 	background: transparent url(../../main/images/cajas/150x30.gif) no-repeat -150px top;	
}

/* dragDrag */
.actD6b-dragDrag {
 	background: transparent url(../../main/images/cajas/150x30.gif) no-repeat -300px top;	
}


/* iniDrop */
.actD6b-iniDrop {
	border-bottom: 2px dashed #757575;
	background: #EEE;
}

/* overDrop */
.actD6b-overDrop {
	border-bottom-color: #0AF;
	background: #EEF;
}

/* trueDrop */
.actD6b-trueDrop {
	
}

.ok {
	color: green;
}

.error {
	color: red;
}

.txt-visible {
	display: block;
	float: left;
	padding-right: 5px;
	margin-right: 5px;
}

.txt-hidden {
	display: block;
	width: 500px;
	float: left;
	font-size: 1px;
}
