#section {
	background-position: -1200px top;
}

#lyrics{ 
 position: absolute;
 top: 20px;
 left: 80px;
}

#lyrics div, #drags div{ 
 font: normal normal bold 18px/30px sans-serif;
 position: relative;
}

#lyrics div span{
	width: 150px; 
	margin: 0px 5px;
	color: #800;
}
#drops div {
	background: transparent url('../images/actD3a.gif') no-repeat 540px top;
	position: absolute;
	width: 20px;
	height:20px;
}

#desk {
	background: transparent url('../images/actD3a.gif') no-repeat -4320px top;
	width:540px;
	height:445px;
	position:absolute;
	right:10px;
}
#images div {
	background: transparent url('../images/actD3a.gif') no-repeat 540px top;
	width: 540px;
	height: 445px;
	position:absolute;
	right:10px;
	
}
#drags div{
	position: absolute;
	width: 150px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	cursor:move;

}

/* iniDrag */
.actD3a-iniDrag {
	background: transparent url('../../main/images/cajas/150x30.gif') no-repeat left top;	
}

/* enterDrag */
.actD3a-enterDrag {
		background: transparent url('../../main/images/cajas/150x30.gif') no-repeat -150px top;
}

/* dragDrag */
.actD3a-dragDrag {
		background: transparent url('../../main/images/cajas/150x30.gif') no-repeat -300px top;
}