#images div {
	background-image: url(../images/filmF3b.gif);
	margin: 20px 8px 0 12px;
}

.actF3b-iniDrag {
	background-image: url(../../main/images/cajas/120x28.gif);
}

#text {
	bottom: 50px;
}