body {
	font-family: sans-serif;
	overflow:hidden;
	margin: 0; padding: 0;
	background-color: #fff;
	color: black;
}

#main {
	width: 100%; height: 720px;
}

#header {
	width: 100%; height: 100px;
	background: transparent url(../../main/images/cene_menu1.png) repeat-x center top;
}

#content {
	width: 1000px; height: 620px;
	position: relative;
	margin: 0 auto;
}


#ciclo {
	width: 550px; height: 315px;
	margin: 0 auto;
	background-image: url(../images/ciclo.png);
}

#menu-section {
	width: 1000px; height: 280px;
	position: absolute;
	bottom: 0;
}

#menu-section div {
	width: 280px; right: 42px;
	background: transparent url(../../main/images/menu-opc.png) no-repeat -3080px top;
	float: left;
	margin: 0 26px 4px 27px;
}

#menu-section div a {
	z-index: 5;
	text-align: center;
	font-size: 18pt;
	line-height: 40px;
	display: block;
	width: 280px; height: 42px;
	text-decoration: none;
	color: #FFF;
}

#menu-section a:hover {
	background: transparent url(../../main/images/menu-opc.png) no-repeat -4200px top;
	color: #025;
	}

div#teacherNotes a {color: #000}
div#teacherNotes a:hover {
	background-color: #DDD;
	color: #016;
}


#logoMCM {
	width: 500px; height: 90px;
	background: transparent url(../../main/images/0_tit1.png) no-repeat center top;
	margin: 0 auto;
}
