#menuBar {
	background-image: url(../../main/images/menuBar.gif);
}


.caja25x30x240x0, .cajas25x30x240x0 div, .caja40x40x0x0, .cajas40x40x0x0 div, .caja50x50x0x90, .cajas50x50x0x90 div, .caja180x50x0x40, .cajas180x50x0x40 div,.caja230x50x0x140, .cajas230x50x0x140 div, .caja180x30x0x190, .cajas180x30x0x190 div, .caja150x150x0x220, .cajas150x150x0x220 div {
 	background-image: url(../images/cajas.gif);
	}

#section {
	background-image: url(../../main/images/caps.gif);
}

#aviPlayer, #aviPlayerUpload {
	background-image: url('../../main/images/aviPlayerFnd.gif');
}