#section {
	background-position: -3200px top;
}


#space {
	width: 800px; height: 535px;
	position: absolute;
	left: 150px; top: 0px;
}

#space div {
	font: normal normal normal 30px/76px sans-serif;
	width: 100%; height: 73px;
}

#space div span {
	color: white;
	border-bottom: 3px dashed #6a93c7;
}
