#section {
	background-position: -2400px top;
}

#desk {
	width: 650px; height: 460px;
	margin: 0 auto;
	padding-top: 35px;
}

#desk div {
	position: relative;
	width: 140px; height: 140px;
	margin: 0 5px 5px 0;
	float: left;
	background: transparent url(../images/filmG2a.gif) no-repeat -1050px top;
	text-align: center;
	font: normal normal bold 15pt/30px sans-serif;
	white-space: normal;
	color: #026;
	height: 93px; padding: 52px 5px 5px 5px;
}
	
#desk div div {
	z-index: 0;
	width: 150px; height: 150px;
	padding: 0;
	position: absolute;
	left: 0; top: 0;
	color: #402;
	font: normal normal bold 25pt/150px sans-serif;
	background: transparent url(../images/filmG2a.png) no-repeat -900px top;
	cursor: pointer;
}