#section {
	background-position: -1600px top;
}

#sopa table{
	border-collapse: collapse;
	border-spacing: 0;
	font: normal normal bold 18pt/36px sans-serif;
	vertical-align: middle;
	margin: 30px auto;
}

#sopa tr {
	height: 36px;
}

#sopa td {
	width: 40px;
	border: 1px solid #757575;
	text-align: center;
	text-transform: lowercase;
}



#pictures div {
	background: #FAFFFF url('../images/filmE2a.png') no-repeat left top;
	border: 1px solid #EEE;
	border-bottom: 2px dashed #757575;
	
	position: absolute;
	width: 200px; height: 20px;
	padding-top: 140px;
	
	font: normal normal bold 10pt/20px sans-serif;
	text-align: right;
}
